header h2 {
    background: #FF4E50;  
background: #00B4DB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
@media only screen and (max-width: 600px) {
    form.addFormWeb {
        display: none;
    }
    button.addFormMobile {
        bottom: 0;
        position: absolute;
        right: 0;
        padding: 0;
    }
    button.addFormMobile span svg {
        font-size: 4rem;
    }
    button.addFormMobile span svg path{
        fill:#00B4DB;;
    }
}

@media only screen and (min-width: 605px) {
    button.addFormMobile {
        display: none;
    }
    form.addFormWeb {
        padding: 10px;
    }
    button.addButtonWeb {
        padding: 15px 14px;
    }
}