tr.cardRow {
    display: flex;
    flex-wrap: wrap;
}

td.cardCell {
    text-align: center;
}

.imgCard {
    width: 100px;
    margin: 0 auto;
    height: 100px;
}

img {
    margin: auto;
    display: block;
    width: 100px;
    height: 100px;
}

p {
    margin: 0 auto;
    text-align: center;
}

div.addWebsiteForm div form {
    padding: 25%;
}